<div class="jumbotron">
    <div class="container">
      <h1>Welcome to <span class='mainHead' >MakerGram</span>!</h1>
      <p>This is an exercise at Makers Academy to develop our skills with Ruby on Rails. I have created a program that allows a user to post images and attach tags and an address to those images. 
      <br><br>
      The posts are displayed on an index page, from where it is possible to buy a print of the photo, see a modal containing the full size image, and to like a post. Upon buying a post, an email is sent to the user with confirmation details. There is an admin logon that allows an admin to view a summary of all the orders. The posts are all present in a JSON format allowing for future expansion with external APIs.
      <br><br>
      The back end is written in Ruby on Rails, using Postgresql database and with file hosting on AWS S3. I used Stripe for taking payments, gmaps to add the geocodes, and sendgrid to send the emails. Makergram was developed with BDD from the outside-in, utilising RSpec & Capybara. The front end was created using HTML, CSS, Javascript with JQuery and Bootstrap. 
      </p>
      <p><%= link_to 'Sign up', '#', class: "btn btn-success btn-lg", data: { toggle: 'modal', target: ".signUp-modal" } %></p>
  </div>
</div>
<div class="modal fade signUp-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sign Up for <span class='mainHead' >MakerGram</span>!</h4>
        </div>
        <div class="modal-body">
        <div  class="signupmodalform">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %></div>

          <div><%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %></div>

          <div><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

          <div><%= f.submit "Sign up", class: "btn btn-success btn-md signup" %></div>
        <% end %>
        </div>
          
        </div>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

