

    <div class='post col-sm-4 <%= post.liked?(current_user) ? 'liked' : 'unliked' %>', data-id='<%= post.id %>'>
      <div class="panel panel-default">
        <h3 class="panel-heading">
          <%= post.title %>
            <% if post.user == current_user %>
            <%= link_to "x", post_path(post), method: :delete, class: 'close', :confirm => "Really delete #{post.title}?" %>
          <% end %>
          </h3>
          <div class='panel-buttons'>
          <%= link_to "♥ #{post.likes.count}", post_likes_path(post), class: 'panelBtn btn btn-sm btn-default like_button' %>
          <%= link_to "♥ #{post.likes.count}", post_like_path(post, '0' ), class: 'panelBtn btn btn-sm btn-default unlike_button' %>
          <%= link_to "Buy", new_post_charge_path(post), class: 'panelBtn btn btn-sm btn-info buy_button' %>
          <%= link_to "Show More", '#', class: 'panelBtn btn btn-sm btn-default', data: { toggle: 'modal', target: ".image-modal-#{post.id}" } %>
          </div>
        <div class="panel-body">
          
          <% if post.picture.exists? %>
            <%= image_tag post.picture.url(:medium) , class: "uploaded-pic" %>
          <% end %>
          <% post.tags.each do |tag| %>
          <%= link_to "#{tag.name}", tag_posts_path(tag) %>
          <% end %>
          
          
          
          
          <% unless post.address.blank? %>
          <%= link_to "Map", post_map_path(post), class: 'panelBtn btn btn-sm btn-info map_btn' %>
          <% end %>
          
        </div> <!-- panel-body -->
      </div> <!-- panel-default -->   
    </div><!-- post -->
    <div class="modal fade image-modal-<%= post.id %>">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= post.title %></h4>
        </div>
        <div class="modal-body">
          <%= image_tag post.picture.url, class: "uploaded-pic" %>
        </div>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

