<div class='posts-container container'>
  <% if @posts.none? %>
  No posts yet
  <% else %>
  <div class='row'>
    <% @posts.each do |post| %>
    <div class='post col-sm-4'>
      <div class="panel panel-default">
        <h3 class="panel-heading"><%= post.title %></h3>
        <div class="panel-body">
          <!-- <%= post.description %> -->
          <%= image_tag post.picture.url(:medium) , class: "uploaded-pic" %>
          <% if post.likes.any? %>
            <span class='postLikes'>
              <% post.likes.each do |like| %>
                <%= like.user.email %> likes this post!
              <% end %>
            </span>
          <% end %>
          <% post.tags.each do |tag| %>
          <%= link_to "#{tag.name}" %>
          <% end %>
          <% if post.user == current_user %>
          <%= link_to "Delete", post_path(post), method: :delete, class: 'panelBtn btn btn-sm btn-danger', id: 'Delete' %>
          <% end %>
          <%= link_to "Like", post_likes_path(post), method: :post, class: 'panelBtn btn btn-sm btn-info' %>
          <%= link_to "Show More", '#', class: 'panelBtn btn btn-sm btn-info', data: { toggle: 'modal', target: ".image-modal-#{post.id}" } %>
          
        </div> <!-- panel-body -->
      </div> <!-- panel-default -->   
    </div><!-- post -->
    <div class="modal fade image-modal-<%= post.id %>">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= post.title %></h4>
        </div>
        <div class="modal-body">
          <%= image_tag post.picture.url, class: "uploaded-pic" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <% end %>
  </div><!-- row -->
  <% end %>
  <%= link_to "New Post", new_post_path %>
  

</div><!-- container -->
